/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter'), sans-serif;
  font-variation-settings: 'wght' var(--weight-main-text, 410);
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-self: center;
  margin-block-start: 98px;
  margin-block-end: 96px;
  padding-block-start: clamp(7.5rem, 7.28rem + 0.939vw, 8.125rem);
  padding-block-end: clamp(7.5rem, 7.28rem + 0.939vw, 8.125rem);
  background-color: #fff;
  border: #000 solid 2px;
  font-family: var(--decorative-font, 'Press Start 2P');
  text-transform: uppercase;
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 50px;

}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.weight-card {
  inline-size: var(--inline-size-article, clamp(23.438rem, 16.197rem + 30.892vw, 44rem));
}

.card {
  background-color: #fff;
  border: #000 solid 2px;
  justify-self: center;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--weight-title-text, 715);
  margin: 4px 11px;
}

.card__container-image {
  position: relative;
}

.card__lable {
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: 27px;
  font-family: var(--decorative-font, 'Press Start 2P');
  font-size: 14px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color-border-lable);

}

@supports (text-stroke: 1px var(--color-border-lable)) {
 .card__lable {
    text-stroke: 1px var(--color-border-lable);
  }
}

@supports not (text-stroke: 1px var(--color-border-lable)) {
 .card__lable {
    text-shadow: -0.5px 0 var(--color-border-lable), 0 0.5px var(--color-border-lable), 0.5px 0 var(--color-border-lable), 0 -0.5px var(--color-border-lable);
  }
}

.card__image {
 inline-size: clamp(23.313rem, 16.116rem + 30.704vw, 43.75rem);
 block-size: clamp(23.313rem, 16.116rem + 30.704vw, 43.75rem);
 object-fit: cover;
 object-position: center;
 border-top: #000 solid 2px;
 border-bottom: #000 solid 2px;
}

.card__container-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 21px 27px;
  font-size: 18px;
  line-height: 21px;
}

.card__like-button {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
}

.button__text {
  font-family: var(--decorative-font, 'Press Start 2P');
  font-size: 14px;
  line-height: 90%;
  border: #000 solid 2px;
  padding: 11px 35px;
  margin-inline-start: 6px;
  background-color: #fff;
}

.footer__like-button {
  display: flex;
  justify-self: center;
  background-color: transparent;
  border: none;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

@media (width <= 375px) {
  .header {
    margin-block-start: 100px;
    margin-block-end: 100px;
  }

  .card__text {
  padding: 23px 25px;
  }
}